# Ticket Summary
{% for event in events %}**{{ event.name }}**
:tickets: {{ event.orders }} | :computer: {{ event.spares_needed }}

{% endfor %}
**TOTALS:**
:tickets: {{ total_orders }} | :computer: {{ total_spares_needed }}
