<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />

        <title>Humanitix Updates</title>
    </head>
    <style>
        body {
            background: #171717;
            color: white;
            font-family: "IBM Plex Sans", sans-serif;
            font-weight: 300;
            font-style: normal;
            max-width: 95%;
            margin: 0 auto;
            padding: 0 10px;
            font-size: 1.15em;
            line-height: 1.3;
            background-image: url(./bg-TopTile.png),
                url(./bg-BottomTile.png);
            background-position:
                top center,
                bottom center;
            background-repeat: repeat-x, repeat-x;
            background-size: auto, auto;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            scrollbar-width: none;
        }

        .table-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            overflow: hidden;
            margin-top: 1%;
        }

        .table-wrapper-body {
            height: 90vh;
        }

        .table-wrapper-footer {
            height: 10vh;
        }

        .table-container-totals {
            width: 100%;
            overflow: hidden;
        }

        .table-container {
            width: 49%;
            overflow: hidden;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            font-size: var(--table-font-size, 1em);
        }

        th,
        td {
            border: 1px solid rgba(36, 36, 36, 1);
            padding: 5px 10px;
            text-align: left;
            font-weight: 400;
        }

        th:nth-child(2),
        td:nth-child(2) {
            text-align: center;
        }
        th:nth-child(3),
        td:nth-child(3) {
            text-align: center;
        }
        th {
            font-size: calc(1vw + 2vh);
            background-color: rgba(23, 23, 23, 1);
            font-weight: 600;
        }

        tr.totals-row td {
            font-size: calc(1vw + 3vh);
            font-weight: 600;
        }

        tr.totals-row {
            background-color: rgba(23, 23, 23, 0.6) !important;
            border-top: 1vh solid rgba(178, 36, 203, 1);
        }

        colgroup col:first-child {
            width: 60%;
            text-align: left;
        }
        colgroup col:nth-child(2) {
            width: 20%;
        }
        colgroup col:nth-child(3) {
            width: 20%;
        }
        tbody tr:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.1);
        }
        tbody tr:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.18);
        }
    </style>
    <body>
        {% set split_point = events | length if events | length < 12 else 12 %}
        <div class="table-wrapper table-wrapper-body">
            <div class="table-container-auto-resize table-container">
                <table id="data-table-left-col">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>SUBNET</th>
                            <th>&#127903;</th>
                            <th>&#128187;</th>
                        </tr>
                    </thead>
                    <tbody>{% for event in events[:split_point] %}
                        <tr>
                            <td>{{ event.name | safe }}</td>
                            <td>{{ event.orders }}</td>
                            <td>{{ event.spares_needed }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="table-container-auto-resize table-container">
                <table id="data-table-right-col">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>SUBNET</th>
                            <th>&#127903;</th>
                            <th>&#128187;</th>
                        </tr>
                    </thead>
                    <tbody>{% for event in events[split_point:] %}
                        <tr>
                            <td>{{ event.name | safe }}</td>
                            <td>{{ event.orders }}</td>
                            <td>{{ event.spares_needed }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-wrapper table-wrapper-footer">
            <div class="table-container-auto-resize table-container-totals">
                <table id="data-table-totals">
                    <tr class="totals-row">
                        <td>TOTAL</td>
                        <td>&#127903; {{ total_orders }}</td>
                        <td>&#128187; {{ total_spares_needed }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <script>
            function adjustFontSize() {
                const tableContainers = document.querySelectorAll(".table-container-auto-resize");
                let initialFontSize = 60;
                let fontSize = 60;
                tableContainers.forEach((container) => {
                    const table = container.querySelector("table");
                    table.style.fontSize = `${fontSize}px`;

                    // Decrease font size until the table fits within the wrapper
                    while (table.scrollHeight > container.clientHeight && fontSize > 5) {
                        fontSize--;
                        table.style.fontSize = `${fontSize}px`;
                    }
                });
            }

            window.addEventListener("load", adjustFontSize);
            window.addEventListener("resize", adjustFontSize);
        </script>
    </body>
</html>
